/* Breakpoints */
$mobile: 375px;
$mobile-landscape: 480px;
$small-tablet: 540px;
$tablet: 750px;
$desktop: 1440px;

/* Colors */

//Primary
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);

//Neutral

$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$light-gray: #eee;//new
$moderate-gray: rgb(168, 168, 168);

/* Typography */

//Body Copy

$font-size: 16px;

//Font

//$family: url(https://fonts.google.com/specimen/Commissioner);
$bolder: 700;
$bold: 500;
$regular: 400;

/* Borders */
$card-border: 2px solid $light-gray;
$radius: 12px;

