/* Breakpoints */
$mobile: 375px;
$desktop: 1440px;

/* Colors */

//Primary
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);

//Neutral

$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);

/* Typography */

//Body Copy

$font-size: 16px;

//Font

//$family: url(https://fonts.google.com/specimen/Commissioner);
//$weights: 400, 500, 700;

