<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!-- fa icons -->
    <script src="https://kit.fontawesome.com/99f3c72fd8.js" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <div class="top">
          <div class="separator large gradient-bg"></div>
          <a class="top-link" href="/index.html">
            <img class="top-logo" src="/assets/images/miguelogo.svg" alt="Miguel Vidal">
          </a>
          <div class="separator small gradient-bg"></div>
        </div>

        <header>
          <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        </header>

        {% if page.page == "portfolio" %}
        <main id="projects">
          {{ content }}
        </main>
        
        {% else %}
        <main class="info">
          <section id="main_content">
            {{ content }}
          </section>          
        </main>
        {% endif %}

        <nav class="bottom-nav">
          {% if page.language == "es" %}
          <a href="/.">&#8592; Volver al inicio</a>
          <span class="bottom-nav-language">
            <span>🇬🇧 </span><a href="/portfolio-en">View in English</a>
          </span>
          
          {% elsif page.language == "en" %}
          <a href="/.">&#8592; Go home</a>
          <span class="bottom-nav-language">
            <span>🇪🇸 </span><a href="/portfolio">Ver en Español</a>
          </span>

          {% endif %}
        </nav>
 
        <footer>
          
        </footer>
      

      

      </div>
    </div>
  </body>
</html>
